<domain type='kvm'>
    <name>{{ item.vm_name }}</name>
    <memory unit='GiB'>{{ item.memory_size }}</memory>
    <vcpu>{{ item.vcpus }}</vcpu>
    <os>
        <type arch='x86_64'>hvm</type>
    </os>
    <devices>
        <disk type='file' device='disk'>
            <driver name='qemu' type='qcow2'/>
            <source file='{{base_vm_path}}/{{item.vm_name}}/{{item.vm_name}}.qcow2'/>
            <target dev='vda' bus='virtio'/>
        </disk>
        <disk type='file' device='cdrom'>
            <driver name='qemu' type='raw'/>
            <source file='{{base_vm_path}}/{{item.vm_name}}/{{item.vm_name}}-cidata.iso'/>
            <target dev='hdc' bus='ide'/>
            <readonly/>
        </disk>
{% for interface in item.interfaces %}
{% if interface.bridge_type == 'bridge' %}
        <interface type='bridge'>
{% else %}
        <interface type='network'>
{% endif %}
            <source network='{{ interface.source }}' bridge='{{ interface.bridge_name }}'/>
            <model type='virtio'/>
            <mac address='{{ interface.mac_addr }}'/>
{% if interface.is_ovs is defined and interface.is_ovs %}
            <virtualport type='openvswitch'/>
{% endif %}
{% if False and interface.vhost is defined and interface.vhost %}
            <driver name="vhost"/> 
{% endif%}
            <address type='pci' domain='0x0000' bus='0x00' slot='0x0{{ interface.slot_id }}' function='0x0'/>
        </interface>
{% endfor %}
        <graphics type='spice' port='-1' autoport='yes'/>
        <console type='pty'>
            <target type='serial' port='0'/>
        </console>
    </devices>
</domain>
